.delivery-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
}

.form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 8px;
}

.form-group textarea {
    min-height: 80px;
    resize: vertical;
}

.proceed-btn {
    margin-top: 30px;
    width: 100%;
    padding: 14px;
    background: #ff7a00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.proceed-btn:hover {
    opacity: 0.85;
}





/* Popup Box */
.custom-popup {
    background: #fff;
    padding: 35px;
    width: 360px;
    max-width: 90%;
    border-radius: 16px;
    text-align: center;
    animation: popupFade 0.25s ease;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

/* Title */
.custom-popup h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

/* Message */
.custom-popup p {
    color: #666;
    margin-bottom: 25px;
    font-size: 14px;
}

/* Button */
.custom-popup button {
    background: #ff7a00;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
}

.custom-popup button:hover {
    opacity: 0.9;
}

/* Animation */
@keyframes popupFade {
    from {
        transform: scale(0.85);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}