/* ============================= */
/* LAYOUT */
/* ============================= */

.food-details-container {
    display: flex;
    gap: 50px;
    /* align-items: flex-start; */
    position: relative;
}

.food-details-image {
    position: relative;
    flex: 1;
}

.food-details-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.food-details-content {
    flex: 1;
    padding: 40px 25px;
    margin-right: 30px;
    margin-top: 15px;
    background: #fff;
}

.food-details-content h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.food-price {
    color: #e67e22;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
}

.food-description {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #555;
}




/* ============================= */
/* FOOD META INFO */
/* ============================= */

.food-meta {
    margin-top: 15px;
    margin-bottom: 25px;

    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    font-size: 14px;
    color: #555;
}

/* Each badge */
.meta-item {
    display: flex;
    align-items: center;
    gap: 8px;

    /* padding: 6px 1px; */
    border-radius: 20px;

    /* background-color: #f5f5f5;
    border: 1px solid #e5e5e5; */

    transition: all 0.2s ease;
}


/* Allergies link style */
.meta-item .allergies {
    background: transparent;
    border: none;
    padding: 6px 0;
    text-decoration: underline;
    cursor: pointer;
}

.meta-item.allergies:hover {
    color: #e67e22;
}

/* ============================= */
/* OPTION ITEM (FULL BORDER) */
/* ============================= */

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    margin-bottom: 12px;
    border: 1px solid #e0e0e0;
    /* FULL BORDER */
    border-radius: 8px;
    /* Slight round */
    background-color: #fff;
    transition: 0.2s ease;
}

.option-item:hover {
    border-color: #e67e22;
}

.option-item label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 80%;
}


/* ============================= */
/* CUSTOM CHECKBOX */
/* ============================= */

.option-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease;
}

/* Checked inner circle */
.option-item input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ============================= */
/* PROTEIN (Orange circle) */
/* ============================= */

.protein input[type="checkbox"]:checked {
    border: 1px solid #e67e22;
    background-color: #e67e22;
}

.protein input[type="checkbox"]:checked::after {
    background: white;
}


/* ============================= */
/* EXTRA SIDES (Dark circle) */
/* ============================= */

.extras input[type="checkbox"]:checked {
    border: 1px solid #333;
    background-color: #333;
}

.extras input[type="checkbox"]:checked::after {
    background: white;
}


/* ============================= */
/* SPECIAL INSTRUCTIONS */
/* ============================= */

.special-instructions {
    width: 100%;
    height: 110px;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 15px;
    resize: none;
    outline: none;
    font-size: 14px;
    transition: 0.2s ease;
}

.special-instructions:focus {
    border: 1px solid #e67e22;
}

/*  */
.food-details-content-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}
.close-btn {
    justify-content: right;
    background: #000;
    color: #fff;
    border: 1px solid #ddd;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.close-btn:hover {
    background-color: #e67e22;
    color: white;
    border-color: #e67e22;
}


/* ============================= */
/* SUBMIT BUTTON */
/* ============================= */

.submit-btn {
    width: 100%;
    margin-top: 20px;
    padding: 14px;

    background-color: #e67e22;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s ease;
}

/* Hover */
.submit-btn:hover {
    background-color: #cf711f;
}


/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: 900px) {
    .food-details-container {
        flex-direction: column;
        background: #fff;
    }
    
    .food-details-image img {
        height: auto;
    }
    .food-details-content {
        margin-right: 0;

    }
}


 
