/* ===== NAVBAR CONTAINER ===== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    /* position: sticky; */
    top: 0;
    z-index: 100;
    font-family: "Poppins", sans-serif;
}
.nav-home {
    font-size: 16px;
    font-weight: bold;
    color: #e67e22;
    text-decoration: none;
}
.nav-home li {
    list-style: none;
}
/* ===== NAV LINKS ===== */
.navbar-links {
    display: flex;
    list-style: none;
    gap: 40px;
}
.navbar-links li {
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
}
/* .navbar-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
} */
.navbar-links li a:hover {
    color: #e67e22;
    /* Orange on hover */
}
/* ===== LOGIN BUTTON ===== */
.navbar-login .login-btn {
    padding: 12px 40px;
    background: #e67e22;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
}
.navbar-login .login-btn:hover {
    background: #d35400;
}
.hamburger {
    display: none;
}
/* ================= MOBILE RESPONSIVENESS ================= */
@media (max-width: 900px) {
    /* Keep navbar layout clean */
    .navbar {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 25px;
    }
    /* Show hamburger on the RIGHT */
    .hamburger {
        display: block;
        margin-left: auto;
        /* pushes it to right */
        font-size: 28px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    /* Rotate when active */
    .hamburger.active {
        transform: rotate(90deg);
        /* transition: 0.4s; */
    }
    /* Hide normal nav items */
    .nav-home,
    .navbar-links,
    .navbar-login {
        display: none;
    }
    /* Show dropdown when active */
    .navbar-links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* pushes items to right */
        position: absolute;
        gap: 12px;
        top:80px;
        right: 0;
        width: 100%;
        background: #5C4033;
        padding: 20px 40px;
        margin: 0 auto;
        /* add right padding */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        /* transition: .6s ease-in-out; */
    }
    .navbar-links.active li {
        margin: 12px 0;
        font-weight: 500;
        color: #fff;
    }   
}