.payment-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
}
.payment-container h1 {
    padding-bottom: 14px;
}
.payment-methods {
    margin-top: 20px;
}

/* Container */
.method-options {
    display: flex;
    flex-direction: row;
    gap: 22px;
    /* 👈 GOOD GAP */
    margin-top: 20px;
}

/* Each option styled like a selectable card */
.radio-option {
    display: flex;
    align-items: center;
    gap: 12px;

}





.card-details {
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form-group input {
    padding: 12px;
    border: 1px solid #ccc;
}

.row {
    display: flex;
    gap: 10px;
}

.checkbox {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.pay-btn {
    margin-top: 30px;
    width: 100%;
    padding: 14px;
    background: #ff7a00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.pay-btn:hover {
    opacity: 0.85;
}

.privacy-text {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}