.processing-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.processing-container h2 {
    margin-top: 30px;
    font-size: 24px;
}

.processing-container p {
    margin-top: 10px;
    color: #777;
}

/* Loader Container */
.loader {
    position: relative;
    width: 120px;
    height: 120px;
}

/* Rings */
.ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top: 5px solid black;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

.ring:nth-child(2) {
    width: 90px;
    height: 90px;
    top: 15px;
    left: 15px;
    border-top: 5px solid #555;
    animation-duration: 1.5s;
}

.ring:nth-child(3) {
    width: 60px;
    height: 60px;
    top: 30px;
    left: 30px;
    border-top: 5px solid #999;
    animation-duration: 2s;
}

/* Animation */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}